#layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
    min-height: 100vh;
}

#calendar {
    position: relative;
    margin-left: 0.5rem;
}

#weather {
    margin-bottom: 2rem;
}

.row {
    display: flex;
}

.row--bottom {
  align-items: flex-end;
}

.row--end {
  justify-content: flex-end;
}

.row--end > * {
    margin-left: 0.5rem;
}