@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    color-scheme: light dark;
    --background-color: #fefefe;
    --foreground-color: #f1f1f3;
    --glyph-text-color: #ffffff;
    --highlight-color: hsl(307, 100%, 32%);
    --secondary-color: #e4e4e4;
    --heading-color: rgba(0,0,0,0.80);
    --interactive-opacity: 0.8;
    --disabled-opacity: 0.3;
    --text-color:  rgba(0,0,0,0.60);
    --mobile-breakpoint: 376px;
    --content-max: 45rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0f0f0f;
        --foreground-color: #1b1b1b;
        --glyph-text-color: #2960b3;
        --highlight-color: #a7caff;
        --secondary-color: #2c2c2c;
        --heading-color:  rgba(255,255,255,0.95);
        --text-color:  rgba(255,255,255,0.65);
    }
}

* {
    font-family: 'Poppins', sans-serif;
}

body,h1,h2,h3,h4,h5,p,figure {
    padding: 0;
    margin: 0;
}

body {
    font-size: 24px;
    background-color: var(--background-color);
}

@media (min-width: 376px)  { 
    body {
        font-size: 16px;
    }
}

h1,h2,h3,h4,h5 {
    color: var(--heading-color);
}

h1 {
    font-size: 2.75rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--heading-color);
    letter-spacing: -0.65px;
    margin-bottom: 2rem;
}

@media (min-width: 376px)  { 
    h1 {
        max-width: var(--content-max);
    }
}

@media (max-width: 1067px)  { 
    h1 {
        margin: 1.5rem auto;
        text-align: center;
    }
}

p {
    margin: 1.5rem 0;
    padding: 0;
    line-height: 1.4rem;
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--text-color);
}

a.button {
    background-color: var(--highlight-color);
    border-radius: 24px;
    padding: 0.66rem 1.75rem;
    outline: 0;
    color: white;
    opacity: var(--interactive-opacity);
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
    display: inline-block;
    transition: 0.3s ease;
    text-align: center;
}

a.button:hover {
    opacity: 1;
}

@media (min-width: 376px)  { 
    p {
        max-width: 37rem;
    }
}

@media (max-width: 1067px)  { 
    p {
        margin: 1.5rem auto;
        text-align: center;
    }
}

p a {
    color: var(--highlight-color);
    opacity: var(--interactive-opacity);
    background: var(--foreground-color);
    box-shadow: 0px 0px 0px 1px var(--foreground-color);
    transition: opacity 0.25s ease;
    text-decoration: none;
    border-radius: 2px;
}

a:hover {
    opacity: 1;
}

#layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}

#content {
    padding: 0 5%;
}

.portrait {
    border-radius: 100%;
}

.portrait--large {
    width: 160px;
    height: 160px;
}

.portrait--small {
    width: 64px;
    height: 64px;
    margin: 0 auto 1rem;
    display: block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.image-grid img {
    max-width: 100%;
    border-radius: 8px;
}

hr {
    height: 3px;
    background-color: var(--highlight-color);
    border: 0px;
    outline: 0;
    max-width: 1rem;
    margin: 4rem 0;
}

.links-grid {
    display: flex;
    gap: 1rem;
    margin: 2rem auto 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

hr.small {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1067px)  { 
    img {
        margin: 1.5rem auto 0;
    }
    hr {
        margin: 4rem auto;
    }
    a.button {
        display: block;
        max-width: 66%;
        margin: 1rem auto 0;
    }
}