@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    color-scheme: light dark;
    --background-color: #fefefd;
    --highlight-color: rgb(107, 203, 235);
    --link-color: rgb(15, 102, 34);
    --text-color:  rgb(36, 36, 38);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1d;
        --highlight-color: #3a92d0;
        --link-color: rgb(141, 221, 158);
        --text-color:  rgb(215, 218, 223);
    }
}

* {
    font-family: monospace, sans-serif;
}

body,h1,h2,h3,h4,h5,p,figure,ul,li,hr {
    padding: 0;
    margin: 0;
}

html {
    font-size: 130%;
}

body {
    background-color: var(--background-color);
    padding: 2rem;
}

@media (min-width: 800px)  { 
    html {
        font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
    }
    body {
        padding: 4rem;
    }
}

ul > ul {
    margin-left: 0.5rem;
}

li {
    font-size: 0.66rem;
    line-height: 166%;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    text-decoration-thickness: 3px;
}

.portrait {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.pill {
    border-radius: 20rem;
    display: inline-block;
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 0.1rem 0.4rem;
}

hr.vertical {
    width: 2px;
    height: 0.75rem;
    background-color: var(--highlight-color);
    border: 0;
    margin: 0.1rem 0;
    border-radius: 1rem;
}

hr.horizontal {
    width: 0.75rem;
    height: 2px;
    background-color: var(--highlight-color);
    border: 0;
    margin: 0.75rem 0 0.25rem -0.66rem;
    border-radius: 1rem;
}